# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=token # to be added you bot token
TELEGRAM_CHAT_ID=id # To be added your chat id

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Application Configuration
CHECK_INTERVAL=90
TEST_MODE=True
TEST_YEAR=2025
TEST_RACE=Australia #https://en.wikipedia.org/wiki/List_of_Formula_One_Grands_Prix use this for names of gps
SIMULATE_LIVE=True
